---
---

<nav>
    <ul>
        <li>
            <a href="/">
                <strong>vitest-cucumber</strong>
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a
                href="https://github.com/amiceli/vitest-cucumber"
                target="_blank"
            >
                <i class="lni lni-github-original"></i>
            </a>
        </li>
    </ul>
</nav>

<style lang="scss" scoped>
    nav {
        background: darken(#13171f, 2%);
        padding-left: 20px;
        padding-right: 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        a {
            text-decoration: none;
        }

        i {
            position: relative;
            top: 3px;
        }
    }
</style>
