---
const url = Astro.url;

function getLinkClass(pageUrl: string): boolean {
	return url.pathname.replaceAll("/", "") === pageUrl.replaceAll("/", "");
}
---

<nord-navigation slot="nav">
    <div slot="header">
        <header>
            <a href="/" class="header__link">
                <img src="/logo.png" />
                <span>vitest-cucumber</span>
            </a>
        </header>
    </div>
    <nord-nav-item 
        href="/" 
        icon="file-script"
        active={getLinkClass('/')}
    >
        Presentation
    </nord-nav-item>
    <nord-nav-item 
        href="/install" 
        icon="navigation-dashboard"
        active={getLinkClass('/install')}
    >
        Installation
    </nord-nav-item>
    <nord-nav-item 
        href="/configuration" 
        icon="navigation-settings"
        active={getLinkClass('/configuration')}
        style="margin-bottom: 30px;"
    >
        Configuration
    </nord-nav-item>
    <nord-nav-group heading="Features">
        <nord-nav-item 
            href="/features/gherkin"
            active={getLinkClass('/features/gherkin')}
        >
            Gherkin
        </nord-nav-item>
        <nord-nav-item 
            href="/features/scenario"
            active={getLinkClass('/features/scenario')}
        >
            Scenario
        </nord-nav-item>
        <nord-nav-item 
            href="/features/scenario-outline"
            active={getLinkClass('/features/scenario-outline')}
        >
            Scenario Outline
        </nord-nav-item>
        <nord-nav-item 
            href="/features/background"
            active={getLinkClass('/features/background')}
        >
            Background
        </nord-nav-item>
        <nord-nav-item 
            href="/features/rule"
            active={getLinkClass('/features/rule')}
        >
            Rule
        </nord-nav-item>
        <nord-nav-item 
            href="/features/hooks"
            active={getLinkClass('/features/hooks')}
        >
            Hooks
        </nord-nav-item>
        <nord-nav-item 
            href="/features/gherkin-tags"
            active={getLinkClass('/features/gherkin-tags')}
        >
            Gherkin tags
        </nord-nav-item>
        <nord-nav-item 
            href="/features/sequentially-and-async"
            active={getLinkClass('/features/sequentially-and-async')}
        >
            Async/sequential steps
        </nord-nav-item>
        <nord-nav-item 
            href="/features/step-expression"
            active={getLinkClass('/features/step-expression')}
        >
            Step expression
        </nord-nav-item>
        <nord-nav-item 
            href="/features/doc-strings"
            active={getLinkClass('/features/doc-strings')}
        >
            DocStrings
        </nord-nav-item>
        <nord-nav-item 
            href="/features/data-tables"
            active={getLinkClass('/features/data-tables')}
        >
            DataTables
        </nord-nav-item>
        <nord-nav-item 
            href="/features/spoken-languages"
            active={getLinkClass('/features/doc-strings')}
        >
            Spoken languages
        </nord-nav-item>
    </nord-nav-group>
    <nord-nav-group heading="Github">
        <nord-nav-item 
            href="https://github.com/amiceli/vitest-cucumber/issues/77"
            icon="generic-github"
        >
            Upcoming features
        </nord-nav-item>
    </nord-nav-group>
    <div slot="footer" class="is--footer">
        <span>Built with</span>
        <a
            href="https://astro.build/"
            target="_blank">Astro</a
        >,
        <a
            href="https://docs.astro.build/en/guides/integrations-guide/mdx/"
            target="_blank">mdx</a
        >
        &
        <a href="https://picocss.com/" target="_blank">nord</a>
        <i
            class="lni lni-heart-fill"
            style="color : var(--main-color); position : relative; top : 4px"
        ></i>
    </div>
</nord-navigation>

<style lang="scss" scoped>
    header {
        display: flex;
        align-items: center;
        margin-left: 20px;

        .header__link {
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 16px;
            
            img {
                width: 28px;
                vertical-align: middle;
                margin-right: 8px;
            }
        }
    }
</style>
