---
import PackageDetails from "../components/PackageDetails.astro";
import "lineicons/web-font/lineicons.css";

interface Props {
    title: string;
    hideMenu?: boolean;
}

const { title } = Astro.props;
const url = Astro.url

function getLinkClass(pageUrl : string) : boolean {
	return url.pathname.replaceAll('/', '') === pageUrl.replaceAll('/', '')
}
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="icon"
            type="image/png"
            href="https://vitest-cucumber.miceli.click/logo.png"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <nord-layout>
            <nord-navigation slot="nav">
                <div slot="header">
                    <img src="/logo.png" />
                    vitest-cucumber
                </div>
                <nord-nav-item 
                    href="/" 
                    icon="file-script"
                    active={getLinkClass('/')}
                >
                    Présentation
                </nord-nav-item>
                <nord-nav-item 
                    href="/install" 
                    icon="navigation-dashboard"
                    active={getLinkClass('/install')}
                >
                    Installation
                </nord-nav-item>
                <nord-nav-group heading="Features">
                    <nord-nav-item 
                        href="/features/gherkin"
                        active={getLinkClass('/features/gherkin')}
                    >
                        Gherkin
                    </nord-nav-item>
                    <nord-nav-item 
                        href="/features/scenario"
                        active={getLinkClass('/features/scenario')}
                    >
                        Scenario
                    </nord-nav-item>
                    <nord-nav-item 
                        href="/features/scenario-outline"
                        active={getLinkClass('/features/scenario-outline')}
                    >
                        Scenario Outline
                    </nord-nav-item>
                    <nord-nav-item 
                        href="/features/background"
                        active={getLinkClass('/features/background')}
                    >
                        Background
                    </nord-nav-item>
                    <nord-nav-item 
                        href="/features/rule"
                        active={getLinkClass('/features/rule')}
                    >
                        Rule
                    </nord-nav-item>
                    <nord-nav-item 
                        href="/features/hooks"
                        active={getLinkClass('/features/hooks')}
                    >
                        Hooks
                    </nord-nav-item>
                    <nord-nav-item 
                        href="/features/gherkin-tags"
                        active={getLinkClass('/features/gherkin-tags')}
                    >
                        Gherkin tags
                    </nord-nav-item>
                    <nord-nav-item 
                        href="/features/sequentially-and-async"
                        active={getLinkClass('/features/sequentially-and-async')}
                    >
                        Async steps and sequentially
                    </nord-nav-item>
                    <nord-nav-item 
                        href="/features/step-expression"
                        active={getLinkClass('/features/step-expression')}
                    >
                        Steps with expressions
                    </nord-nav-item>
                </nord-nav-group>
                <nord-nav-group heading="Github">
                    <nord-nav-item 
                        href="https://github.com/amiceli/vitest-cucumber/issues/77"
                        icon="generic-github"
                    >
                        Upcoming
                    </nord-nav-item>
                </nord-nav-group>
                <div slot="footer" class="is--footer">
                    Website build with <a
                        href="https://astro.build/"
                        target="_blank">Astro</a
                    >,
                    <a
                        href="https://docs.astro.build/en/guides/integrations-guide/mdx/"
                        target="_blank">mdx</a
                    >
                    and <a href="https://picocss.com/" target="_blank">nord</a>
                    <i
                        class="lni lni-heart-fill"
                        style="color : var(--main-color); position : relative; top : 4px"
                    ></i>
                </div>
            </nord-navigation>
            <nord-header slot="header">
                <h1 class="n-typescale-l">
                    {title}
                </h1>
                <div slot="end">
                    <PackageDetails />
                </div>
            </nord-header>
            <nord-stack
                direction="horizontal"
                justify-content="center"
                align-items="center"
                gap="l"
            >
                <div>
                    <slot />
                </div>
            </nord-stack>
        </nord-layout>
    </body>
</html>
<script>
    import "@nordhealth/components/lib/index";
</script>

<style lang="scss" is:global>
    :root {
        --n-color-accent: #1c2128;
        --n-color-accent-secondary: #1c2128;
    }
</style>

<style is:global lang="scss">
    @import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
    @import "@nordhealth/css/lib/nord.min.css";
    @import "@nordhealth/themes/lib/nord-dark.css";

    :root {
        --main-color: #f87683;
    }
    html,
    body {
        padding: 0;
        margin: 0;
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        width: 100%;

        main {
            padding-top: 0;
        }
    }

    pre {
        width: 100%;
    }

    img {
        width: 40px;
        vertical-align: middle;
        margin-left: 20px;
        margin-right: 20px;
    }

    .is--footer {
        text-align: center;
    }

    .astro-code {
        padding: 24px;
    }
</style>

<style lang="scss" scoped>
    .container:first-of-type {
        margin-top: 100px;
    }

    .for--grid {
        display: flex;
        margin-top: 20px;
        grid-gap: 100px;

        &__left {
            flex: 0 0 300px;
        }
        &__right {
            flex: 1;
            overflow-y: hidden;
        }
    }
</style>