---
import DocSummary from "../components/DocSummary.astro";
import NavBar from "../components/NavBar.astro";
import PackageDetails from "../components/PackageDetails.astro";

interface Props {
	title: string;
	hideMenu?: boolean;
}

const { title, hideMenu } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <link
            rel="stylesheet"
            href="../../node_modules/lineicons/web-font/lineicons.css"
        />
    </head>
    <body>
        <main class="container-fluid">
            <NavBar />
            { !hideMenu && <div class="container">
                <PackageDetails />
            </div> }
            { !hideMenu && <div class="container for--grid">
                <div class="for--grid__left">
                    <DocSummary />
                </div>
                <div class="for--grid__right">
                    <slot />
                </div>
            </div> }
            { hideMenu && <div class="container">
                <slot />
            </div> }
        </main>
    </body>
</html>

<style is:global lang="scss">
    @import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

    :root {
        --main-color : #f87683;
    }
    html,
    body {
        padding: 0;
        margin: 0;
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        width: 100%;

        main {
            padding-top: 0;
        }
    }

    pre {
        width: 100%;
    }
</style>

<style lang="scss" scoped>
    .container:first-of-type {
        margin-top: 100px;
    }

    .for--grid {
        display: flex;
        margin-top: 20px;
        grid-gap: 100px;

        &__left {
            flex : 0 0 300px;
        }
        &__right {
            flex : 1;
            overflow-y : hidden;
        }
    }
</style>
